<div class="container-fluid">
  <h6 class="text-center pb-2 pt-2">Calender Event List</h6>
  <div class=" d-flex p-1 justify-content-end">
    <button type="button" class="btn btn-dark" (click)="open()">Add Event</button>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr class="text-center">
          <th>Image</th>
          <th>Title</th>
          <th> Start Date Time </th>
          <th> End Date Time </th>
          <th> Description</th>
          <th> Address</th>
          <th>Action button</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let students of eventList;">
          <ng-container *ngIf="eventList.length > 0 ">
            <tr>
              <td>
                <img [src]="students.image" alt="">
              </td>
              <td>
                {{students.Title}}
              </td>
              <td>
                {{students.Start | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{students.End | date:'dd/MM/yyyy'}}
              </td>
              <td>
                {{students.description}}
              </td>
              <td>

                {{students.address}}
              </td>
              <td>
                <button type="button" class="btn btn-dark"><i class="bi bi-pen" (click)="Edit(students)"></i></button>
                <button type="button" class="btn btn-dark"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </ng-container>

        </ng-container>
        <ng-container *ngIf="!eventList.length">
          <tr class="text-center">
            <td colspan="7" class="fs-3"> NO DATA FOUND</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>