<div class="container-fluid">
  <h4 class="text-center pb-2 pt-2 fs-1">Event List</h4>
  <div class=" d-flex p-1 justify-content-end">
    <button type="button" class="btn btn-dark" (click)="open()">Add Event</button>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr class="text-center">
          <th> Roll Number</th>
          <th>profile</th>
          <th>Title</th>
          <th> Start Date Time </th>
          <th> End Date Time </th>
          <th> Description</th>
          <th> Address</th>
          <th>Action button</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let students of eventList;">
        <!-- 
          <ng-container *ngIf="getLocalStorage.length == 0 ">
            <tr>
              <td>
                No Data Found
              </td>
            </tr>
          </ng-container> -->

          <ng-container *ngIf="eventList.length > 0 ">
            <tr>
              <td>
                {{students.id}}
              </td>
              <td>
                <!-- {{students.image}} -->
              </td>
              <td>
                {{students.Title}}
              </td>
              <td>
                {{students.Start}}
              </td>
              <td>
                {{students.End}}
              </td>
              <td>
                {{students.description}}
              </td>
              <td>

                {{students.address}}
              </td>

              <td>
                <button type="button" class="btn btn-dark"><i class="bi bi-pen"></i></button>
                <button type="button" class="btn btn-dark"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </ng-container>

        </ng-container>
      </tbody>
    </table>
  </div>

</div>